@tailwind base;
@tailwind utilities;
@tailwind components;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*  Group utilities */
@layer components {
  .d-link {
    @apply block py-1 text-gray-600 hover:text-black;
  }
  .product-style {
    @apply rounded-t-full rounded-l-full bg-gradient-to-r from-indigo-100 via-purple-100 to-pink-100 hover:bg-gradient-to-r hover:from-indigo-200 hover:via-purple-200 hover:to-pink-200;
  } 
}
